@function strip-unit($value) {
  @return ($value / ($value * 0 + 1));
}

@function make-rem($size) {
  $root: strip-unit($root-font-size);
  $size: strip-unit($size);

  @return $size / $root + rem;
}

@function color($color-id, $color-tone: 1, $opacity: 1) {
	$tones-map: map-get($colors-stack, $color-id);

	@if $tones-map == null {
		@error "Color `#{$color-id}` doesn't exist in $colors-stack.";
	}

	@return if($opacity == 1, nth($tones-map, $color-tone), rgba(nth($tones-map, $color-tone), $opacity));
}

@function font-weight($weight) {
  $weight-map: map-get($font-weight, $weight);

	@if $weight-map == null {
		@error "Weight `#{$color-id}` doesn't exist";
  }
  
  @return $weight-map;
}

@function line-height($line-height, $font-size) { 
  $font-size: strip-unit($font-size);
  $root-size: strip-unit($root-font-size);

  @return $line-height / $font-size + em;
}

@function letter-spacing($photoshop-value, $font-size) {
  @return ($photoshop-value * $font-size) / 1000 + px;
}

// Z-index
/// Usage:
/// .site-header {
///   z-index: z('site-header');
/// }
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  }
  @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
$z-indexes: ("outdated-browser", "modal", "site-header", "page-wrapper", "site-footer");

