<div class="panel1">
  <ma-accordion>
    <ma-accordion-item [maLock]="true">
      <ma-accordion-item-header>
        Nagłowek
      </ma-accordion-item-header>

      <ma-accordion-item-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed nisl consequat, commodo tortor ut, dictum nunc. Etiam cursus faucibus porttitor. Sed aliquam, risus et blandit mollis, augue risus elementum mi, sed dignissim purus mauris vitae nibh.</p>
      </ma-accordion-item-content>
    </ma-accordion-item>

    <ma-accordion-item>
      <ma-accordion-item-header>
        Nagłowek 2
      </ma-accordion-item-header>

      <ma-accordion-item-content>
        <p> In suscipit elit at nulla pharetra feugiat. Mauris at iaculis leo. Aenean accumsan ullamcorper tempor. Donec ultricies leo sem, sit amet gravida purus auctor nec. Quisque dictum justo in orci fringilla fringilla a congue mi.</p>
      </ma-accordion-item-content>
    </ma-accordion-item>

    <ma-accordion-item>
      <ma-accordion-item-header>
        Nagłowek 3
      </ma-accordion-item-header>

      <ma-accordion-item-content>
        <p>Etiam eget dolor sed sapien cursus dictum. Ut quis gravida lectus. Praesent pharetra porttitor ultricies. Donec efficitur nisi in cursus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </ma-accordion-item-content>
    </ma-accordion-item>

    <ma-accordion-item>
      <ma-accordion-item-header>
        Nagłowek 3
      </ma-accordion-item-header>

      <ma-accordion-item-content>
        <p>Etiam eget dolor sed sapien cursus dictum. Ut quis gravida lectus. Praesent pharetra porttitor ultricies. Donec efficitur nisi in cursus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </ma-accordion-item-content>
    </ma-accordion-item>
  </ma-accordion>
</div>


