:host {
  $column-gap: 15px;

  > section {
    display: flex;

    > figure {
      flex: 1;
      margin-right: $column-gap;
    }

    > ma-markup {
      flex: 1;
      margin-left: $column-gap;
    }
  }
}
