<ma-timeline-box [timelineHeight]="500" [yearSeparator]="1">
  <ma-timeline-box-year [year]="2018">
    <ma-timeline-box-item [itemSide]="'left'">

      ZAWARTOSC BOX'a 0
    </ma-timeline-box-item>

    <ma-timeline-box-item [itemSide]="'right'">

      ZAWARTOSC BOX'a 1
    </ma-timeline-box-item>

    <ma-timeline-box-item [itemSide]="'left'">

      ZAWARTOSC BOX'a 2
    </ma-timeline-box-item>
  </ma-timeline-box-year>

  <ma-timeline-box-year [year]="2017">
    <ma-timeline-box-item [itemSide]="'right'">

      ZAWARTOSC BOX'a 3
    </ma-timeline-box-item>

    <ma-timeline-box-item [itemSide]="'left'">

      ZAWARTOSC BOX'a 4
    </ma-timeline-box-item>

    <ma-timeline-box-item [itemSide]="'right'">

      ZAWARTOSC BOX'a 5
    </ma-timeline-box-item>
  </ma-timeline-box-year>
</ma-timeline-box>
