:host {
  $column-gap: 15px;

  > section {
    display: flex;

    > ma-markup {
      flex: 1;

      &:nth-child(2) {
        margin-right: $column-gap;
        margin-left: $column-gap;
      }
    }
  }
}
