@mixin custom-font($size, $font-weight, $line-height, $color, $tone: 1, $letter-spacing: 0, $text-transform: none) {
  font-size: make-rem($size);
  font-weight: font-weight($font-weight);
  color: color($color);
  letter-spacing: letter-spacing($letter-spacing, $size);
  line-height: line-height($line-height, $size);
  text-transform: $text-transform;
};

@mixin font($name, $stack: $typography-default-stack) {
  $font: map-get($stack, $name);

  @if length($font) >= 5 {
    @include custom-font(nth($font, 1), nth($font, 2), nth($font, 3), nth($font, 4), nth($font, 5), nth($font, 6) , nth($font, 7));
  } @else {
    @error "Font name `#{$name}` does not exist in the stack";
  }
};

@mixin rwd-font-size($font-type, $font-breakpoints: $rwd-typography) {
  @each $breakpoint, $font-stack in $font-breakpoints {
    @if $breakpoint == default {
      @include font($font-type, $font-stack)
    }
    @else {
      @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint: map-get($breakpoints, $breakpoint);
      }

      @media screen and (max-width: $breakpoint) {
        @include font($font-type, $font-stack)
      }
    }
  }
}

@mixin arrow ($size, $color, $rotate) {
  width: 0;
  height: 0;
  border-top: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  transform: rotate($rotate);
}

@mixin dot ($size, $radius, $color) {
  width: $size;
  height: $size;
  border-radius: $radius;
  background-color: $color;
}
